
<!--affiche parent-->
{% extends './layout/base.html' %}
 
{%block title%}
{{super() }}|A_La_Une
{%endblock%}



        


{%block content%}

<div class="row" style="
      background: #f0f0f0;">

      <div class="col-3">

      </div>

      <div class="col-6">
            <h3 style="color: #616161;  font-size: 1.375rem;
            font-weight: 700;
            margin-bottom: 12px;
            margin-top: 12px;
            text-align: center;
            ">  Tout acheter, tout vendre, tout simplement </h3>
      </div>
      <div class="col-3">
            
      </div>
</div>


<div class="row" style="
      ">

      <div class="col-3">

      </div>

      <div class="col-6">
            <h4 style="color: #616161;  font-size: 1.375rem;
            font-weight: 550;
            margin-bottom: 12px;
            margin-top: 12px;
            text-align: center;
            "> Top Annonce  </h4>
      </div>
      <div class="col-3">
            
      </div>
</div>
<br><br>
<div class="row">
  <div class="col-2">
  </div>
  <div class="col-8">
      <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-inner">
              {% for annonce in annonces %}
              
                  {% if loop.index <= 5 %}
                      <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                          <div class="card" style="width: 18rem;">
                              <img src="{{annonce.img_url}}" class="card-img-top" alt="">
                              <div class="card-body">
                                  <h5 class="card-title">{{annonce.prix}}</h5>
                                  <p class="card-text">{{annonce.description}}</p>
                              </div>
                          </div>
                      </div>

                      <div class="carousel-item">
                        <div class="card" style="width: 18rem;">
                            <img src="{{annonce.img_url}}" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">{{annonce.prix}}</h5>
                                <p class="card-text">{{annonce.description}}</p>
                            </div>
                        </div>
                    </div>
                  {% endif %}
              {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </button>
      </div>
  </div>
  <div class="col-2">
  </div>
</div>
<br><br>





{% endblock %}