

{% extends './layout/base2.html' %}

{% block title %}
    {{super()}} | Article
{% endblock %}


{% block content %}

<div class="row" style="
      background: #f0f0f0;">

      <div class="col-3">

      </div>

      <div class="col-6">
            <h3 style="color: #616161;  font-size: 1.375rem;
            font-weight: 700;
            margin-bottom: 12px;
            margin-top: 12px;
            text-align: center;
            ">  Tout acheter, tout vendre, tout simplement </h3>
      </div>
      <div class="col-3">
            
      </div>
</div>


<div class="row" style="
      ">

      <div class="col-3">

      </div>

      <div class="col-6">
            <h4 style="color: #616161;  font-size: 1.375rem;
            font-weight: 550;
            margin-bottom: 12px;
            margin-top: 12px;
            text-align: center;
            "> Top Annonce  </h4>
      </div>
      <div class="col-3">
            
      </div>
</div>
<br>
<div class="bbb_viewed">
    <div class="container">
        <div class="row">
            <div class="col">
               <div class="bbb_main_container">
                <div class="bbb_viewed_title_container">
                
                    <div class="bbb_viewed_nav_container">
                        <div class="bbb_viewed_nav bbb_viewed_prev"><i class="fas fa-chevron-left"></i></div>
                        <div class="bbb_viewed_nav bbb_viewed_next"><i class="fas fa-chevron-right"></i></div>
                    </div>
                </div>


                <div class="bbb_viewed_slider_container">
                    <div class="owl-carousel owl-theme bbb_viewed_slider">
                        {% for annonce in annonces%}
              
                        {% if loop.index <= 3 %}
                        <div class="owl-item {% if loop.index == 1 %}active{% endif %}" >
                            <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                                <div class="bbb_viewed_image"><img src="{{annonce.img_url}}" alt=""></div>
                                <div class="bbb_viewed_content text-center">
                                    <div class="bbb_viewed_price">₹{{annonce.prix}}</div>
                                    <div class="bbb_viewed_name"><a href="#">{{annonce.description}}</a></div>
                                </div>
                                <ul class="item_marks">
                                    <li class="item_mark item_discount">*</li>
                                    <li class="item_mark item_new">new</li>
                                </ul>
                            </div>
                        </div>
                       
                        {% endif %}
              {% endfor %}
                        
                        
                        
                    </div>
                </div>
               </div> 
            </div>
        </div>
    </div>
</div>




<div class="row" style="
      ">
   
<div class="home-category__content">

<div class="home-categories__item">
  <div class="home-category" data-home-category>
    <a href="" class="home-category__header" data-home-category-trigger>
      <span class="home-category__header__icon">
        <svg class="i i-professional-services home-category__header__icon-inner" aria-hidden="true">
          <use xlink:href="https://www.expat-dakar.com/assets/ed-site/icons/category.1af8f532.svg#professional-services"></use>
        </svg>
      </span>
      <span class="home-category__header__title">
        Services
      </span>
      <span class="home-category__header__toggle">
        <svg class="i i-chevron-down home-category__header__toggle-inner" aria-hidden="true">
          <use xlink:href="https://www.expat-dakar.com/assets/ed-site/icons/map.caece3cf.svg#chevron-down"></use>
        </svg>
      </span>
    </a>
    
    <div class="home-category__content">
      <ul class="home-category__list">
        <li class="home-category__list-item">
          <a href="" class="home-category__list-item__link">
          Prestations de service
          </a>
        </li>
        <li class="home-category__list-item">
          <a href="" class="home-category__list-item__link">
          Cours particuliers
          </a>
        </li>
      </ul>
      <a href="" class="home-category__cta">
        <span class="home-category__cta__title">
        Tout parcourir
        </span>
        <span class="home-category__cta__count badge">
        1105
        </span>
      </a>
    </div>
  </div>
</div>
</div>

</div>
</div>
</div>




{% endblock content %}

